body {
}

.btn {
    margin: 5px 10px;
}

#imageBox {
    display: inline;
}

.bottomRow {
    border: solid 3px;
}

#resultsArea {
    border: solid 1px;
}

.gif {
    /* Hide all gifs by default */
    display: none;
}