body {
    text-align: center;
}

.btn {
    margin: 5px 10px;
}

#imageBox {
    display: inline;
}

.bottomRow {
    border: solid 3px;
}

#resultsArea {
    border-left: solid 1px;
}

/* Hide all gifs (images with an id of xx-gif) by default */
img[id*="-gif"] {
    display: none;
}